@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
.pixelFont{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.content-1{
  height: 100dvh;
  width: 100dvw;
  aspect-ratio: 16/9;

  background-image: url("Prima.png");
  background-size: cover;

  position: relative;
}

.Titolo{
  position: absolute;

  top:50%;
  left:70%;
  transform: translate(-50%,-50%);

  color: aliceblue;
  text-shadow: -1px -2px 4px #000000;

}

.Titolo-1{
  font-size: clamp(3.5rem, 2.1667rem + 3.5556vw, 5.5rem);

}
.Titolo-2{
  font-size: clamp(3.5rem, 2.1667rem + 3.5556vw, 5.5rem);
  
}